{{extend 'mylayout.html'}}

{{if i:}}
	{{=i}}
{{pass}}

<div class="left_content">

	<div class="title"><span class="title_icon">
					<img src="{{=URL('static', 'plugin_layout_book_store/images/bullet1.gif')}}" alt="" title="" />
					</span>{{=book.Title}}</div>
					
	<div class="feat_prod_box_details">					

		{{if len(book):}}
		<div class="prod_img">
			<a href="{{=URL('book_profile', args=book.id)}}">
			<img width="100" src="{{=book.Picture and URL('download', args=book.Picture) or URL('static','plugin_layout_book_store/images/dummy_book.png')}}" alt="" title="" border="0" />
			</a>
		</div>
		
	<a href="{{=URL('delete_book_from_shelf', args=book.id)}}"><button id = "delete_button">Delete Book</button> </a>
	
        <div class="prod_det_box">
          	<div class="box_top"></div>
            <div class="box_center">
            	<div class="prod_title">Details</div>
            	<p class="details">Author: {{=book.Author}}<br /><br />
            					{{=book.Details}}<br /><br />
            					Genre: {{=book.Genre}}<br/>
            					Publisher: {{=book.Publisher}}<br />
            					Publication Date: {{=book.Publication_Date}}<br />
            					</p>
					
                    <a href="{{=URL('update_book_profile', args=book.id)}}" class="more">
                    	<button id = "update_button">Update Book Profile </button>
                    </a>
					
                    <a target = "blank" href="http://www.amazon.com" class="more">
                    	<button id = "link_to_buy">Link to Buy</button> 
                    </a>
                
                    <div class="clear"></div>
            </div>
                    
                    <div class="box_bottom"></div>
        </div>  

		{{else:}}
   			<p>no profiles that match</p>
		{{pass}}
    <div class="clear"></div>
	</div>	
	{{if (test):}}
		{{=addItemShelfForm}} 
	{{pass}}
</div>

<div class="right_content">
	<div class="feat_prod_box_details">
		<div class="feat_prod_box">
		{{if (test): }}
			<textarea id="newcomment"></textarea>
		
		<button id = "mybutton">post comment</button>
		{{pass}}
		</div>
<script>
if(typeof(String.prototype.trim) === "undefined"){
    String.prototype.trim = function() {
        return String(this).replace(/^\s+|\s+$/g, '');
    };
}
jQuery(function(){
  jQuery('#mybutton').click(function(){
	var comment = jQuery('#newcomment').val();
	if(comment.trim()) {
	  jQuery.post('{{=URL('post_comment',args=book.id)}}', 'comment='+encodeURIComponent(comment)).success(function(){
		jQuery('#comments').append('<div>I say: '+comment+'</div>');
		jQuery('#newcomment').val('');
	   }).error(function(){alert('cannot post!');});
  	};
  });
});
</script>

		<div id ="comments">
		
			{{for comment in comments:}}
			<div class="feat_prod_box">
					</br>
					<div class="prod_det_box">
						<div class="box_top"></div>
							<div class="box_center">
								<div class="prod_title">On {{=comment.created_on.month}}/{{=comment.created_on.day}}/{{=comment.created_on.year}} 
									At {{=comment.created_on.hour}}:{{=comment.created_on.minute}}:{{=comment.created_on.second}}  
									{{="%(first_name)s %(last_name)s" % comment.created_by}} says:</div>
								<p class="details">{{=comment.body}}<br />
								<div class="clear"></div>
							</div>
							<div class="box_bottom"></div>
					</div>
					<div class="clear"></div>
			</div>
			{{pass}}
		</div>
	</div>
</div>
