{{extend 'mylayout.html'}}

<div class="left_content">
<div class="title"><span class="title_icon">
					<img src="{{=URL('static', 'plugin_layout_book_store/images/bullet1.gif')}}" alt="" title="" />
					</span>My Bookshelves</div>

	<div class="feat_prod_box_details">	
	{{if len(shelves):}}
    	{{for shelf in shelves:}}
    		<span class="title_icon">
				<img src="{{=URL('static', 'plugin_layout_book_store/images/bookshelf.gif')}}" width="25" alt="" title="" />
			</span>
     		<p>{{=A(shelf.Shelf_Name, _href=URL('book_shelf', args=shelf.id))}}</p>
    	{{pass}}
    	 <a href="{{=URL('create_book_shelf')}}">
                    <button id = "update_button">Create A New Bookshelf</button></a> 	
	{{else:}}
  		<p>No shelves made<br />
    	 <a href="{{=URL('create_book_shelf')}}">
                    <button id = "update_button">Create A New Bookshelf</button></a> 
	{{pass}}
	</div>

</div>

<div class="right_content">

<div class="title"><span class="title_icon">
					<img src="{{=URL('static', 'plugin_layout_book_store/images/bullet1.gif')}}" alt="" title="" />
					</span>My Profile</div>

	<div class="feat_prod_box_details">	
		<p class="details">
		{{if len(profiles):}}
			{{for profile in profiles:}}
			<table>
			<tr>
			<td>Name: </td>
			<td>{{=auth.user.first_name}} {{=auth.user.last_name}}</td>
			</tr>
			<tr>
			<td>Favorite Book: </td>
			<td>{{=profile.Favorite_Book}}</td>
			</tr>
			<tr>
			<td>Bio: </td>
			<td>{{=profile.Bio}}</td>
			</tr>
			</table>  
			{{pass}}
		{{else:}}
			<table>
			<tr>
			<td>Name: </td>
			<td>{{=auth.user.first_name}} {{=auth.user.last_name}}</td>
			</tr>
			<tr>
			<td>Favorite Book: </td>
			</tr>
			<tr>
			<td>Bio: </td>
			</tr>
			</table>
		{{pass}}
		<a href="{{=URL('update_user_bio', args=auth.user.id)}}">
            <button id = "update_button">Update profile</button></a> 

		</p>
	</div>


</div>
