{{extend 'mylayout.html'}}

<div class="left_content">

<div class="title"><span class="title_icon">
					<img src="{{=URL('static', 'plugin_layout_book_store/images/bullet1.gif')}}" alt="" title="" />
					</span>User Profiles</div>
					
	<div class="feat_prod_box_details">	
{{if len(profiles):}}
    {{for profile in profiles:}}
    <table>
    	<tr>
    	<td>{{=A(profile.first_name+ ' ' +profile.last_name, _href=URL('user_profile', args=profile.id))}}</td>
    	</tr>
    </table>
    {{pass}}
{{else:}}
    <p>No users registered</p>
{{pass}}

	</div>

</div>